<header class="flex bg-blue-600 h-14 justify-center items-center fixed w-full top-0 z-10 lg:w-3/12 lg:h-screen lg:flex lg:flex-col lg:text-center lg:justify-center lg:items-center lg:bg-blue-500 lg:p-6">
    <div class="lg:h-screen">
        <div class="lg:my-4 lg:flex lg:justify-center">
            <img src="{{url_for('static', filename='icom/logo.png')}}" alt="">
        </div>
        <div class="hidden lg:flex lg:flex-col lg:items-center">
            <img class="rounded-full mb-7" width="200px" height="200px" src="{{url_for('static', filename='img/photo16.jpg')}}" alt="ma photo">

            <div class="hidden lg:flex lg:flex-col text-gray-300 text-sm">
                <p class="my-2"><a class="hover:text-red-700 duration-700 text-blue-800 italic" href="#">Developpeur web</a>, passionné du code l'Informatique</p>
                <p class="my-2">Etudiant en premèire année en <a class="hover:text-red-700 duration-700 text-blue-800 italic" href="#">IDA (Informatique Développeur d'Application)</a></p>
                <p class="my-2">Je suis à L'<a class="hover:text-red-700 duration-700 text-blue-800 italic" href="#">IFSM</a> d'ABOBO, une chouette établissement</p>
                <P class="my-1">J'ai été formé par <a class="hover:text-red-700 text-blue-800 duration-700 italic" href="#">Rauche Acho</a>, un excellent formateur en l'Informatique</P>
                <a class="hover:text-red-700 text-blue-800 duration-700 italic mt-8" href="#">&copy; 2021 amara fofana</a>
            </div>
            
        </div>
        
    </div>
    
</header>